.perfil-container {
  background-color: #ffffff;
  border-radius: 20px;
  width: 75%;
  margin: 0 auto;
  max-width: 100vh;
  -webkit-box-shadow: 0px 1px 10px #a4a4a4;
  -moz-box-shadow: 0px 1px 10px #a4a4a4;
  box-shadow: 0px 1px 10px #a4a4a4;
  padding: 2%;
  margin-bottom: 5%;
}

.links {
  position: relative;
}

.links p {
  text-decoration: underline;
  color: #016799;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0.6em;
  left: 75%;
}

.links p:hover {
  color: #0091da;
  cursor: pointer;
}

.infos-perfil {
  margin: 0 auto;
  width: 90%;
}

.form-box {
  width: 90%;
  margin: 0 auto;
  margin-top: 2em;
}

.btn {
  display: flex;
  margin: 0 auto;
}

#btn-vagasInteresse-fechar {
  background-color: #df0003;
}

#btn-vagasInteresse-fechar:hover {
  opacity: 0.8;
}

#btn-vagasInteresse-salvar {
  background-color: #016799;
}

#btn-vagasInteresse-salvar:hover {
  opacity: 0.8;
}

#btn-vagasInteresse {
  background-color: #016799;
  margin-top: 1em;
}

#btn-vagasInteresse:hover {
  background-color: #fbfbfb;
  border-color: #016799;
  color: #016799;
}

#btn-salvar {
  color: #ffff;
  background-color: #df0003;
  display: flex;
  justify-content: center;
  border-color: rgb(180, 180, 180);
}

#btn-salvar:hover {
  background-color: #bd0003;
  transition: 0.3s;
}

@media (max-width: 992px) {
  .perfil-container {
    width: 80%;
    margin: 0 auto;
  }
}
