.title{
    display: flex;
    justify-content: center;
}

.description{
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
}
.description h4{
    font-size: 17px;
}